instance.cfg
/minecraft/.mixin.out
*.png
/minecraft/.sable
minecraft/command_history.txt
/minecraft/dynamic-data-pack-cache
/minecraft/downloads
/minecraft/ESM
/minecraft/figura
/minecraft/local
/minecraft/mods/.index
minecraft/observable_announce
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/ponders_watched.json
/minecraft/Sable-Schematics
/minecraft/saves
/minecraft/schematics
minecraft/usernamecache.json
minecraft/usercache.json
/minecraft/xaero
/minecraft/dynamic-resource-pack-cache
/minecraft/logs
/minecraft/crash-reports
/minecraft/.cache
/minecraft/midi_files
minecraft/emi.json
/minecraft/particular_cache
/minecraft/chunksmith/lod
/minecraft/backups
/minecraft/config/inventoryprofilesnext
minecraft/config/flywheel-client.toml
minecraft/config/flywheel-client-1.toml.bak
minecraft/config/l2configs/l2core-client-1.toml.bak
minecraft/config/iris.properties
minecraft/config/solonion-client.json
/minecraft/config/spark
minecraft/config/creativecore-client.json
minecraft/config/emi_ores-client.json
/minecraft/config/crash_assistant/crash_assistant_localization_overrides
minecraft/config/cubes_without_borders.json
mmc-pack.json
minecraft/config/chat_heads.json5
minecraft/config/emi.css
minecraft/config/emi_ores-client.json
minecraft/config/entity_model_features.json
minecraft/config/etf_warnings.json
minecraft/config/euphoria_patcher/.data.json
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/iris.properties
minecraft/config/figura.json
minecraft/config/freecam.json5
minecraft/config/lithostitched.json
minecraft/config/snowrealmagic-client.yaml
minecraft/config/sodium-extra-options.json
minecraft/config/sodium-fingerprint.json
minecraft/config/sodium-options.json
minecraft/config/xaero/lib/client.cfg
minecraft/config/tide/tide_client.json
/minecraft/config/xaero/lib/profiles
/minecraft/config/xaero/lib/server_profiles
minecraft/config/xaero/minimap/client.cfg
/minecraft/config/xaero/minimap/profiles
/minecraft/config/xaero/minimap/profiles/info_display_config
/minecraft/config/xaero/minimap/server_profiles
minecraft/config/xaero/world-map/client.cfg
/minecraft/config/xaero/world-map/profiles
/minecraft/config/xaero/world-map/server_profiles
/minecraft/XaeroWaypoints_BACKUP240807
/minecraft/config/NoChatReports
minecraft/config/ftbchunks-client.snbt
/minecraft/cache/c2me-dfc
minecraft/config/voicechat/voicechat-client.properties
minecraft/mods/Panoptic-1.08a-NeoForge-1.21.1.jar
minecraft/config/panoptic-common.toml
/minecraft/panoptic
/minecraft/config/world_preview
